* {
    
    box-sizing: border-box;
    font-family: sans-serif;
    }

.header {
    width: 60;
    padding: 10px;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(46, 72, 136, 1) 33%, rgba(83, 24, 219, 1) 100%);
    color: white;
    text-align:right;
    
}

.btn{
    background-color: rgba(106, 137, 222, 0.787);
    width:300px;
}

.searchContainer{
    justify-content:left;
}

.cityList{
    font-weight: bold;
    font-size:large;
}

.card{
    width: 300px;
}

